dist: xenial
sudo: true
language: python
python:
    - "3.9"
addons:
-  apt:
-    packages:
      - ffmpeg
      - build-dep
      - graphviz
      - libgfortran3
      - libblas-dev
      - liblapack-dev
      - gfortran      
      - ocl-icd-opencl-dev
      - libopencl
      - cuda-gdb-src
      - cuda 
      - libgeos-dev
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - SEGFAULT_SIGNALS=all
    - PYTHONUNBUFFERED=True
    - SDL_VIDEODRIVER=dummy SDL_AUDIODRIVER=disk

install:
  - pip install -r requirements_conda.txt
  - pip install torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
  - pip install -r requirements.txt
  - export PYTHONPATH=src
before_script:
  - python setup.py build_ext --inplace
script:
  - python setup.py unittests
