# conda
cffi
Cython
cytoolz
jupyter
matplotlib
notebook
numba
numpy
Pillow
scikit-learn
scipy
Sphinx
statsmodels
# tensorflow
# tensorflow_model_optimization

# other
autopep8
chardet
coverage
gensim
jupyter_sphinx
jyquickhelper
keras
Keras-Applications
Keras-Preprocessing
matplotlib
pycodestyle
pydata_sphinx_theme
pyensae
pymyinstall
pylint
pyquickhelper>=1.9.3240
sphinx_bootstrap_theme
sphinxcontrib.imagesvg
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
# tensorflow
# tensorflow_model_optimization
torchvision
tqdm
wheel

