chardet
coverage
gensim
guzzle_sphinx_theme
jyquickhelper
keras
Keras-Applications
git+https://github.com/sdpython/nbconvert.git@fixes
pyensae
pymyinstall
pyquickhelper>=1.9
sphinx_bootstrap_theme
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
# tensorflow
torchvision
wheel

