autopep8
chardet
coverage
gensim
guzzle_sphinx_theme
jupyter_sphinx
jyquickhelper
keras
Keras-Applications
Keras-Preprocessing
matplotlib
pycodestyle
pyensae
pymyinstall
pylint
pyquickhelper>=1.9.3240
sphinx_bootstrap_theme
sphinxcontrib.imagesvg
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
# tensorflow
torchvision
tqdm
wheel

